<%= form_with(model: printer, local: true) do |form| %>
  <% if printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

      <ul>
      <% printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :organization %>
    <%= form.collection_select(:organization_id, @organizations, :id, :name, prompt: true) %>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
